.container {
    width: 940px;
    margin: 0 auto;
    position:relative;
}

.logoContainer {
    height: 90px;
    text-align: center;
}

.profile{
    position:absolute;
    right:10px;
    top:10px;
    width:200px;
    text-align: center;
    
}
.profile:hover .profileSelector{
    animation-name: slide;
    animation-duration: 1s;
    transform: scale(1, 1);
}

.profileSelector{
    border: 2px solid grey;
    border-radius: 10px;
    background-color: white;
    padding:5px;
    line-height: 30px;
    transition: all 0.5s;

}

@keyframes slide {
    from {
        display: none;
    }
  
    to {
        display: block;
    }
}

.menuContainer {
    height: 80px;
    display: flex;
    line-height: 60px;
}

.menus {
    flex: 1;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(233, 238, 243);
    margin: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    box-shadow: 3px 3px 5px rgb(192, 192, 192);
}

.link {
    text-decoration: none;
    display: block;
    color: black;
}