.contents {
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

.regionContainer {
    display: flex;
    flex-wrap: wrap;
}

.doName {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.doName:hover {
    color: blue;
}

.cityList {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    list-style-type: none;
}

.cityItem {
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.cityItem:hover {
    color: red;
}

.type {
    display: flex;
}

.selectType {
    font-size: 1.3rem;
    flex: 1;
    height: 100px;
    line-height: 100px;
    border-radius: 10px;
    background-color: antiquewhite;
    margin: 10px;
}

.topcat {
    display: flex;
}

.selectTopcat {
    flex: 1;
    height: 100px;
    line-height: 100px;
    border-radius: 10px;
    background-color: rgb(255, 166, 50);
    margin: 10px;
}