.contents {
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

.type {
    display: flex;
}

.selectType {
    font-size: 1.3rem;
    flex: 1;
    height: 100px;
    line-height: 100px;
    border-radius: 10px;
    background-color: antiquewhite;
    margin: 10px;
}

.topcat {
    display: flex;
}

.selectTopcat {
    flex: 1;
    height: 100px;
    line-height: 100px;
    border-radius: 10px;
    background-color: rgb(255, 166, 50);
    margin: 10px;
}