.container {
  width: 1240px;
  margin: auto;
}

.do {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  height: 200px;
}

.doName {
  width: 130px;
  font-size: 1.5rem;
  border-left: 1px solid #cccccc;
}

.si {
  display: flex;
}